@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222;

  --primary: #f5dfae;
  --secondary: ;
  --border: #585858;
  
  --primary-light: #fff;
  --secondary-light: ;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--background);
  max-height: 100vh;
  height: 100%;
  color: var(--primary-light);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
