@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #FBF3E9; */
  --background: #FBF3E9;

  --primary: #1C464F;
  --secondary: ;
  --border: #d2d2d2;
  
  --primary-light: #A36A2E;
  --secondary-light: ;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{

}

body {
  background-color: var(--background);
  max-height: 100vh;
  height: 100%;

  color: var(--primary-light);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
